@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 91% 65%;
    
    --radius: 0.5rem;
    /* --- Custom Battery Brand Color --- */
    --battery: 0 84.2% 60.2%;
    --battery-foreground: 210 40% 98%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65%;

    --card: 224 71% 4%;
    --card-foreground: 215 20.2% 65%;
    --border: 216 12% 20%;
    --input: 216 12% 20%;

    --primary: 210 40% 96.1%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 96.1%;

    --accent: 222.2 47.4% 11.2%;
    --accent-foreground: 210 40% 96.1%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 96.1%;
    --ring: 216 12% 20%;
    
    --battery: 0 84.2% 60.2%;
    --battery-foreground: 210 40% 98%;
  }
}